
.header {
    background-color: #0f0f0f;
    color: #fff;
}

main {
    filter: brightness(60%) !important;
    background-image: url(/img/white.png) !important;
    background-size: cover;
    background-position: center center;
}

.footer {
    background-color: #949494;
    color: #e9e9e9;
}

.box-shadow {
    box-shadow: none;
}

.site-nav a {
    color: #c0c0c0;
    border-bottom: 1px solid #363636;
}

.site-title,
.site-nav a:hover {
    color: #dadada;
}

.site-title {
    color: #e9e9e9;
}

#theme-toggle,
.site-title span,
.header-copyright {
    color: #e2e2e2;
}

.sample-project-heading span,
.sample-project-heading h2,
.footer-copyright,
.footer-site-title {
    color: #101010;
}