html {
    scrollbar-width: none;
    opacity: 1;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}




/*
.layout-content:nth-of-type(2) {
    flex: 3.35;
    margin-left: 22%;
}

.layout-content:nth-of-type(1) {
    align-self: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    heigfht: ;
    min-heifght: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
*/

.sample-project-section {
    padding: 55px 15px 70px;
}

.sample-project-heading {
    padding-bottom: 15px;
    padding-left: 14px;
}

.sample-project-heading span {
    font-size: 1.2rem;
    letter-spacing: .5rem;
}

.sample-project-heading h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .3rem;
    line-height: 1.6;
}

.sample-project-container {
    display: flex;
}

.sample-project-content {
    flex: 1;
    padding: 15px;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f6f6;
    height: 290px;
}

footer div {
    padding: 0 100px 25px;
}

.footer-copyright {
    font-family: "Hind", sans-serif;
    font-size: small;
}

.footer-site-title {
    margin-right: 110px;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: .31rem;
}

.footer-social-container {
    display: flex;
    gap: 15px;
    opacity: .6;
}





.content-wrapper {
    width: 77%;
    margin-left: 23%;
}


header {
    width: 23%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

header::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

.site-link {
    display: block;
    margin: 0 60px;
}

.site-title {
    font-family: 'oswald', sans-serif;
    text-align: center;
    font-size: 3.9rem;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .31rem;
    margin-top: 50px;
}

.site-title span {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .3rem;
}

.site-title:hover {
    fofnt-size: 4.1rem; 
    mafrgin-bottom: -1px;
}

.site-title:hover > span,
.site-title:active > span {
    fonft-size: 1.34rem;
    leftter-spacing: .3rem;
    marfgin-top: -1px;
}





.site-nav {
    margin: 50px 2px 20px;
}

.site-nav a {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 3;
    border-bottom: 1px solid #ececec;
    margin: 6px 28px 0;
}


.header-social-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 35px 0 15px;
}

.header-social-container a {
    padding: 0 7px;
}

.header-copyright {
    font-family: "Hind", sans-serif;
    font-size: 1rem;
    text-align: center;
    letter-spacing: -.03rem;
}




.hero img {
    height: 100vh;
}



.sample-project-content img:hover {
    filter: brightness(9%);
}

body {
    background-color: #fff !important;
}


.site-title,
.site-nav li {
    text-transform: uppercase;
}




.theme {
    text-align: center;
}

button {
    font-size: 1.2rem;
    margin: 35px 10px 0;
}





