
.header,
body {
    background-color: #fff;
}

body {
    background-color: #fcfcfc;
}

.footer {
    background-color: #f6f6f6;
}


.site-nav a {
    color: #6b6b6b;
    border-bottom: 1px solid #ececec;
}

.site-title,
.site-nav a:hover {
    color: #101010;
}

#theme-toggle,
.site-title span,
.header-copyright,
.sample-project-heading span,
.footer-copyright {
    color: #6b6b6b;
}

.content-wrapper {
    box-shadow: 6px 0 15px 0px #f6f6f6 inset;
}
.footer {
    box-shadow: 8px -8px 20px 0px #eeeeee inset;
}