@keyframes moveUpDown {
  50% {
    transform: translateY(0.12rem); } }

:root {
  --primary: #122c41;
  --primary-light: #0b253a;
  --accent: #1fc1c3;
  --accent-light: #62d4d5;
  --white: #fff;
  --white-dim: #eee;
  --white-dimmer: #ccc;
  --black: #222;
  --black-light: #333;
  --grey: #777;
  --grey-light: #aaa;
  --grey-lighter: #bbb;
  --grey-dim: #555;
  --grey-border: #c5c5c5;
  --transition-duration: .2s;
  --transition-duration-social: .25s; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

::selection {
  color: #222;
  background-color: var(--accent); }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; }

.hand-drawing-arrow {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  color: #fff;
  background-color: #fff; }

body {
  font-family: 'open sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  color: var(--black);
  background-color: var(--white); }

.u-margin-bottom-smaller {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-texit-style {
  color: var(--accent); }

.u-line-break {
  display: block; }
  @media (max-width: 74.99875em) {
    .u-line-break {
      display: inline; } }

@media (max-width: 74.99875em) {
  .u-line-break-tab-land {
    display: block; } }

.u-link__white:link, .u-link__white:visited {
  color: var(--white); }

.u-link__white:hover, .u-link__white:active {
  color: var(--white-dim);
  text-decoration: none; }

.u-link__black:link, .u-link__black:visited {
  color: var(--black-dim); }

.u-link__black:hover, .u-link__black:active {
  color: var(--black-light);
  text-decoration: none; }

.btn-link:link, .btn-link:visited {
  display: inline-block;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  text-decoration: none;
  transition: all var(--transition-duration); }
  @media (min-width: 75em) {
    .btn-link:link, .btn-link:visited {
      color: var(--black-light);
      background-color: var(--white);
      margin-left: .2rem; } }

.btn-link:hover, .btn-link:active {
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15); }
  @media (min-width: 75em) {
    .btn-link:hover, .btn-link:active {
      background-color: var(--white-dim); } }

.btn-link--overview:link, .btn-link--overview:visited {
  padding: 1rem 2.5rem 1.2rem 2.5rem;
  positiyon: absolute;
  widhth: 100%;
  lefft: 50%;
  trafnsform: translateX(-50%);
  z-index: 9; }

.btn-link--cta:link, .btn-link--cta:visited {
  font-weight: 700;
  background-color: var(--accent);
  padding: 0 1.7rem 0 1.5rem; }

.btn-link--cta:hover, .btn-link--cta:active {
  background-color: var(--accent-light); }

.footter {
  font-size: 1.4rem;
  color: var(--white-dimmer);
  background-color: var(--white-dimmer); }
  .footter__container {
    background-color: var(--primary); }
    .footter__container--general {
      margin-bottom: 1px; }
    .footter__container--legal {
      text-align: center; }
  .footter__general-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 4rem;
    padding-bottom: 4rem; }
    @media (min-width: 37.5em) {
      .footter__general-content {
        width: 690px;
        padding-inline: .5rem;
        margin-inline: auto; } }
    @media (min-width: 50em) {
      .footter__general-content {
        width: 880px;
        gap: 6rem;
        padding-inline: 1rem;
        margin-inline: auto; } }
    @media (min-width: 75em) {
      .footter__general-content {
        width: 1170px;
        gap: 10rem;
        padding-inline: 1.5rem;
        margin-inline: auto; } }
  .footter__legal-content {
    padding-top: 1.5rem;
    padding-bottom: 3rem; }
    @media (min-width: 37.5em) {
      .footter__legal-content {
        width: 690px;
        padding-inline: .5rem;
        margin-inline: auto; } }
    @media (min-width: 50em) {
      .footter__legal-content {
        width: 880px;
        padding-inline: 1rem;
        margin-inline: auto; } }
    @media (min-width: 75em) {
      .footter__legal-content {
        width: 1170px;
        padding-inline: 1.5rem;
        margin-inline: auto; } }
  .footter__office {
    flex: 1; }
  .footter__link-box {
    flex: 1; }
  .footter__about {
    flex: 3;
    position: relative; }
  .footter__office-item-box {
    font-size: 1.2rem;
    padding: .15rem 0;
    margin-left: 3.1rem;
    position: relative; }
  .footter__phone {
    color: var(--white-dimmer);
    margin-bottom: -.7rem; }
  .footter__email {
    color: var(--accent);
    font-size: 1.6rem;
    padding-bottom: -1rem;
    border-bottom: 1px solid currentColor; }
  .footter__whatsapp {
    color: var(--white-dimmer); }
  .footter__text {
    color: var(--white-dimmer); }
  .footter__link:link, .footter__link:visited {
    display: block;
    width: fit-content;
    color: var(--white-dimmer); }
  .footter__link:hover, .footter__link:active {
    text-decoration: none;
    color: var(--white-dim); }
  .footter__heading-secondary {
    color: var(--white); }
  .footter__copyright {
    color: var(--white-dimmer); }

.header {
  width: 100%;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  @media (min-width: 75em) {
    .header {
      width: 100%;
      background-color: var(--white); } }
  .header__container {
    width: 100%;
    padding-inline: 1.5rem;
    margin-inline: auto;
    background-color: transparent;
    backgfround-image: linear-gradient(180deg, transparent 6rem, #cf8700 6rem, #cf8700 91vh, #af7200 91vh, #af7200 100vh);
    background-image: linear-gradient(180deg, transparent 6rem, #efefef 6rem, #efefef 91vh, #ddd 91vh, #ddd 100vh); }
    @media (min-width: 37.5em) {
      .header__container {
        background-image: linear-gradient(180deg, transparent 6rem, #cf8700 6rem, #cf8700 90vh, #af7200 90vh, #af7200 100vh); } }
    @media (max-width: 74.99875em) {
      .header__container {
        height: 6rem;
        overflow-y: hidden;
        transitiohn: all .5s ease-in-out;
        border-bottom: 0px solid #ce8600; }
        .header__container::after {
          content: "";
          display: block;
          height: 1px;
          width: inherit;
          background-color: #ccc;
          position: absolute;
          top: 5.9rem;
          left: 0; } }
    @media (min-width: 75em) {
      .header__container {
        height: 5rem;
        width: 1170px;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 1.5rem;
        margin-inline: auto; } }
  .header__logo-area {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: .5rem;
    position: relative; }
    @media (min-width: 75em) {
      .header__logo-area {
        color: var(--white);
        background-color: var(--primary);
        padding: 2rem 2rem;
        margin-right: auto; } }
  .header__logo-text {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase; }
    .header__logo-text .styled {
      color: var(--accent);
      color: #e69500; }
  .header__logo-link {
    text-decoration: none;
    color: var(--white);
    padding: 1rem 1rem 1rem .5rem;
    margin-right: auto; }
  @media (min-width: 75em) {
    .header__cta {
      display: none; } }
  .header__nav-area {
    margin-top: 36vh;
    margin-right: .5rem;
    text-align: right;
    transform: translateY(-35%); }
    @media (min-width: 75em) {
      .header__nav-area {
        display: block; } }
  .header__nav-list {
    list-style: none;
    margin-top: 2rem; }
    @media (min-width: 37.5em) {
      .header__nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center; } }
    @media (min-width: 75em) {
      .header__nav-list {
        display: flex;
        align-items: center; } }
  .header__nav-item {
    cursor: pointer;
    margin-left: 1rem; }
    .header__nav-item:last-child {
      margin-right: 0; }
    .header__nav-item--button {
      font-size: 4.9rem;
      position: relative;
      padding: .1rem 1.5rem .1rem .3rem;
      transition: all var(--transition-duration); }
      @media (min-width: 37.5em) {
        .header__nav-item--button {
          font-size: 3.1rem;
          padding: .1rem 2.5rem .1rem 2rem; } }
      @media (max-width: 74.99875em) {
        .header__nav-item--button {
          position: static; } }
      .header__nav-item--button:hover {
        padding: 1.2rem 1.5rem 1.2rem .3rem; }
    .header__nav-item--cta {
      display: none; }
      @media (min-width: 75em) {
        .header__nav-item--cta {
          display: block; } }
  .header__nav-link:link, .header__nav-link:visited {
    font-size: 4.8rem;
    color: var(--white);
    color: #353535;
    text-decoration: none;
    font-weight: 600;
    padding-inline: .5rem;
    transition: all var(--transition-duration); }
    @media (min-width: 37.5em) {
      .header__nav-link:link, .header__nav-link:visited {
        font-size: 3rem;
        padding-inline: 1rem; } }
    @media (min-width: 75em) {
      .header__nav-link:link, .header__nav-link:visited {
        color: #252525; } }
  .header__nav-link:hover, .header__nav-link:active {
    color: #333; }
  .header__nav-button {
    color: var(--white);
    color: #353535;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    border: none;
    margin-inline: .2rem -1rem;
    cursor: pointer; }
    @media (min-width: 75em) {
      .header__nav-button {
        color: #252525; } }
    .header__nav-button:hover, .header__nav-button:focus, .header__nav-button:active {
      background-color: transparent; }
  .header__nav-item--button:hover > .header__nav-button {
    color: #444; }
  .header__nav-list-sub {
    list-style: none;
    visibility: hidden;
    display: none; }
    @media (max-width: 37.49875em) {
      .header__nav-list-sub {
        width: 90%;
        margin-left: -35%; } }
    @media (min-width: 75em) {
      .header__nav-list-sub {
        list-style: none;
        display: block;
        width: 22rem;
        background-color: var(--white);
        position: absolute;
        top: 4rem;
        right: -2.5rem;
        padding-top: .8rem;
        border-radius: 1px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1.4rem);
        transition: all .3s, visibility .2s; } }
    .header__nav-list-sub::before {
      content: "";
      display: block;
      height: .4rem;
      width: inherit;
      background-color: transparent;
      position: absolute;
      top: -.55rem;
      left: 0; }
  .header__nav-item-sub {
    width: 100%;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.2); }
    @media (max-width: 37.49875em) {
      .header__nav-item-sub {
        margin-lheft: -66%; } }
    .header__nav-item-sub:not(:last-child) {
      border-bottom: 1px solid #eee; }
    .header__nav-item-sub:last-child {
      margin-bottom: 1rem; }
    @media (max-width: 74.99875em) {
      .header__nav-item-sub {
        transform: translateX(45%); } }
  .header__nav-link-sub:link, .header__nav-link-sub:visited {
    display: inline-block;
    width: 100%;
    color: #222;
    text-decoration: none;
    padding: .6rem 1.5rem; }
    @media (max-width: 74.99875em) {
      .header__nav-link-sub:link, .header__nav-link-sub:visited {
        color: var(--white); } }
  .header__nav-link-sub:hover, .header__nav-link-sub:active {
    color: var(--white);
    background-color: var(--primary-light);
    background-color: #122c41; }
    @media (max-width: 74.99875em) {
      .header__nav-link-sub:hover, .header__nav-link-sub:active {
        background-color: transparent; } }

.mobile-copyright {
  color: #fff;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
  display: none; }

svg[class*="icon"] {
  transition: all var(--transition-duration); }

.icon__hamburger {
  height: 3rem;
  width: 3rem;
  fill: #fff;
  margin-right: .5rem; }
  @media (min-width: 75em) {
    .icon__hamburger {
      display: none; } }

.icon__home {
  height: 3rem;
  width: 3rem;
  fill: currentColor;
  display: none; }
  @media (min-width: 75em) {
    .icon__home {
      display: inline;
      height: 1.5rem;
      width: 1.5rem;
      fill: currentColor;
      margin-top: .6rem; }
      .icon__home:hover {
        fill: var(--white-light); } }

.icon__arrow1 {
  display: none;
  height: 1rem;
  width: 1rem;
  fill: currentColor;
  vertical-align: baseline;
  margin-left: .3rem; }

.header__nav-button:hover:hover > .icon__arrow1 {
  fill: currentColor; }

.icon__arrow2 {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 24%;
  animation: moveUpDown 2s 2s infinite backwards; }
  @media (min-width: 37.5em) {
    .icon__arrow2 {
      display: block; } }
  @media (min-width: 75em) {
    .icon__arrow2 {
      height: 1.7rem;
      top: 1.35rem;
      right: 1.3rem; } }

.icon__drawing-arrow-down {
  max-width: 30%;
  position: absolute;
  left: 48%;
  bottom: -35%;
  z-index: 8;
  animation: upDownImg 3s infinite ease-in-out;
  display: none; }
  @media (min-width: 37.5em) {
    .icon__drawing-arrow-down {
      display: none; } }

.icon__social {
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: middle;
  margin-right: 1rem; }
  .icon__social--facebook {
    fill: currentColor; }
    @media (min-width: 75em) {
      .icon__social--facebook {
        fill: #3b5998;
        margin-bottom: .3rem; } }
  .icon__social--instagram {
    fill: currentColor; }
    @media (min-width: 75em) {
      .icon__social--instagram {
        fill: #ea065f;
        margin-bottom: .3rem; } }
  .icon__social--spotify {
    fill: currentColor; }
    @media (min-width: 75em) {
      .icon__social--spotify {
        fill: #1db954;
        margin-bottom: .1rem; } }
  .icon__social--soundcloud {
    fill: currentColor; }
    @media (min-width: 75em) {
      .icon__social--soundcloud {
        fill: #ff8800;
        margin-bottom: .2rem; } }

.header__nav-link-sub:hover:hover > .icon__social {
  fill: currentColor;
  transition: all var(--transition-duration-social); }

.icon__map {
  height: 20rem;
  fill: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 83%;
  left: 20%;
  transform: translate(-50%, -50%); }

.icon__phone {
  height: 1.3rem;
  fill: #fff;
  position: absolute;
  top: .6rem;
  left: -3rem; }

.icon__email {
  height: 1.5rem;
  fill: #fff;
  position: absolute;
  top: 1.2rem;
  left: -3rem; }

.icon__whatsapp {
  height: 1.5rem;
  position: absolute;
  top: .2rem;
  left: -3rem; }

.icon__arrow-box {
  height: 4rem;
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.15);
  margin-inline: auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

@keyframes upDownImg {
  50% {
    transform: translateY(0.4rem); } }

.section-hero {
  height: 85vh;
  width: 100%;
  font-weight: 600;
  color: var(--white);
  background-image: linear-gradient(120deg, #122c41, #122c41);
  position: relative; }
  @media (min-width: 37.5em) {
    .section-hero {
      height: 90vh; } }
  @media (min-width: 75em) {
    .section-hero {
      height: 95vh; } }
  .section-hero__text-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); }
    @media (min-width: 37.5em) {
      .section-hero__text-box {
        width: initial;
        top: 52vh; } }
    @media (min-width: 50em) {
      .section-hero__text-box {
        top: 45vh; } }
    @media (min-width: 75em) {
      .section-hero__text-box {
        text-align: left;
        top: 28vh;
        left: 9.77rem;
        transform: none; } }
  .section-hero__primary-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.7; }
    @media (min-width: 37.5em) {
      .section-hero__primary-title {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.6; } }
    .section-hero__primary-title .styled {
      colior: var(--accent);
      coltor: #e69500;
      font-size: 4rem;
      font-weight: 500;
      line-height: 1; }
      @media (min-width: 37.5em) {
        .section-hero__primary-title .styled {
          font-size: 3.4rem; } }
  .section-hero__secondary-title {
    font-weight: 400;
    padding-inline: 5rem; }
    @media (min-width: 37.5em) {
      .section-hero__secondary-title {
        line-height: 1.6;
        padding-inline: 3rem; } }

.main {
  height: 250vh;
  background-color: var(--white);
  backgrdound-color: #af7200; }
