/*
0 - 700px       : Phone
700px - 900px   : Tablet portrait
900px - 1200px  : Tablet landscape
[1200px - 1800px] is where our normal styles apply
1800px +        : Big desktop

$breakpoint argument choices:
Phone             > phone
Tablet portrait   > tab-port
Tablet landscape  > tab-land
Big desktop       > big-desktop
*/
@keyframes moveUpDown {
  50% {
    transform: translateY(0.12rem); } }

:root {
  --primary: #122c41;
  --primary-light: #122c41fa;
  --accent: #1fc1c3;
  --accent-light: #62d4d5;
  --white: #fff;
  --white-dim: #ddd;
  --black: #222;
  --black-light: #333;
  --grey: #777;
  --grey-light: #aaa;
  --grey-lighter: #bbb;
  --grey-dim: #555;
  --grey-border: #c5c5c5;
  --transition-duration: .2s;
  --transition-duration-social: .25s; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; }
  @media (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  max-width: 180rem;
  margin: 0 auto; }

body {
  font-family: 'open sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: var(--black);
  background-color: var(--white); }

.u-margin-bottom-smaller {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-line-break {
  display: block; }
  @media (max-width: 1200px) {
    .u-line-break {
      display: inline; } }

@media (max-width: 1200px) {
  .u-line-break-tab-land {
    display: block; } }

.u-link__white:link, .u-link__white:visited {
  color: var(--white); }

.u-link__white:hover, .u-link__white:active {
  color: var(--white-dim);
  text-decoration: none; }

.u-link__black:link, .u-link__black:visited {
  color: var(--black-dim); }

.u-link__black:hover, .u-link__black:active {
  color: var(--black-light);
  text-decoration: none; }

.btn-link:link, .btn-link:visited {
  display: inline-block;
  color: var(--black-light);
  background-color: var(--white);
  border-radius: 100px;
  text-decoration: none;
  padding: .5rem 1rem .5rem 1.7rem;
  margin-left: .2rem;
  transition: all var(--transition-duration); }

.btn-link:hover, .btn-link:active {
  background-color: var(--white-light);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15); }

.btn-link--overview:link, .btn-link--overview:visited {
  padding: 1rem 3.8rem 1rem 2.5rem;
  position: relative; }

.btn-link--cta:link, .btn-link--cta:visited {
  font-weight: 700;
  background-color: var(--accent);
  padding: 0 1.7rem 0 1.5rem; }

.btn-link--cta:hover, .btn-link--cta:active {
  background-color: var(--accent-light); }

.footer {
  width: 99%;
  font-size: 1.4rem;
  color: var(--white-dim);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  margin: 0 auto; }
  .footer__general-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    margin: 6rem 11.5rem 5.5rem; }
    @media (max-width: 1200px) {
      .footer__general-area {
        gap: 6rem; } }
  .footer__office {
    flex: 1; }
  .footer__link-box {
    flex: 1; }
  .footer__about {
    flex: 3;
    position: relative; }
  .footer__office-item-box {
    padding: .15rem 0;
    margin-left: 3.1rem;
    position: relative; }
  .footer__phone {
    color: var(--white-dim);
    margin-bottom: -.7rem; }
  .footer__email {
    color: var(--accent);
    font-size: 1.6rem;
    padding-bottom: -1rem;
    border-bottom: 1px solid currentColor; }
  .footer__whatsapp {
    color: var(--white-dim);
    font-size: 1.2rem; }
  .footer__text {
    color: var(--white-dim); }
  .footer__link:link, .footer__link:visited {
    display: block;
    width: fit-content;
    color: var(--white-dim);
    text-decoration: none; }
  .footer__link:hover, .footer__link:active {
    text-decoration: underline; }
  .footer__heading-secondary {
    color: var(--white); }
  .footer__legal-area {
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid rgba(85, 85, 85, 0.8);
    border-top: 1px solid #555;
    padding: 2rem 0 3rem; }
  .footer__copyright {
    color: var(--white-dim); }

.header {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  background-color: var(--white);
  padding-inline: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .header__logo-container {
    margin-right: auto;
    background-color: var(--primary);
    color: var(--white);
    padding: 2rem 2rem; }
  .header__logo-text {
    font-size: 1.8rem; }
  .header__nav-list {
    list-style: none;
    display: flex;
    align-items: center; }
  .header__nav-item {
    margin-inline: 2rem;
    cursor: pointer; }
    .header__nav-item:last-child {
      margin-right: 0; }
    .header__nav-item--button {
      position: relative;
      padding: .1rem 1.5rem .1rem .3rem;
      transition: all var(--transition-duration); }
      @media (max-width: 1200px) {
        .header__nav-item--button {
          position: static; } }
      .header__nav-item--button:hover {
        padding: 1.2rem 1.5rem 1.2rem .3rem; }
  .header__nav-link:link, .header__nav-link:visited {
    color: var(--white);
    color: #252525;
    text-decoration: none;
    padding-inline: 5px;
    transition: all var(--transition-duration);
    font-weight: 900; }
  .header__nav-link:hover, .header__nav-link:active {
    color: #444; }
  .header__nav-button {
    color: var(--white);
    color: #252525;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: 900;
    border: none;
    cursor: pointer;
    margin-inline: .2rem -1rem; }
    .header__nav-button:hover, .header__nav-button:focus, .header__nav-button:active {
      background-color: transparent; }
  .header__nav-item--button:hover > .header__nav-button {
    color: #444; }
  .header__nav-list-sub {
    list-style: none;
    display: block;
    width: 22rem;
    font-size: 1.4rem;
    background-color: var(--white);
    position: absolute;
    top: 4rem;
    right: -2.5rem;
    padding-top: .8rem;
    border-radius: 1px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1.4rem);
    transition: all .3s, visibility .2s; }
    @media (max-width: 1200px) {
      .header__nav-list-sub {
        width: 99%;
        display: block;
        margin-right: .5rem;
        top: 3.6rem;
        right: 0;
        background-color: var(--primary);
        box-shadow: none;
        transition: all .3s, visibility .2s, width 0s; } }
    .header__nav-list-sub::before {
      content: "";
      display: block;
      height: .4rem;
      width: inherit;
      background-color: transparent;
      position: absolute;
      top: -.55rem;
      left: 0; }
  .header__nav-item-sub:not(:last-child) {
    border-bottom: 1px solid var(--grey-border); }
    @media (max-width: 1200px) {
      .header__nav-item-sub:not(:last-child) {
        border-bottom: none; } }
  .header__nav-item-sub:last-child {
    margin-bottom: 1rem; }
  @media (max-width: 1200px) {
    .header__nav-item-sub {
      transform: translateX(45%); } }
  .header__nav-link-sub:link, .header__nav-link-sub:visited {
    display: inline-block;
    width: 100%;
    color: #222;
    text-decoration: none;
    padding: 1rem 1.5rem; }
    @media (max-width: 1200px) {
      .header__nav-link-sub:link, .header__nav-link-sub:visited {
        color: var(--white); } }
  .header__nav-link-sub:hover, .header__nav-link-sub:active {
    color: var(--white);
    background-color: var(--primary-light);
    background-color: #122c41; }
    @media (max-width: 1200px) {
      .header__nav-link-sub:hover, .header__nav-link-sub:active {
        background-color: transparent; } }

svg[class*="icon"] {
  transition: all var(--transition-duration); }

.icon__home {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  margin-top: .6rem; }
  .icon__home:hover {
    fill: var(--white-light); }

.icon__arrow1 {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
  vertical-align: baseline;
  margin-left: .3rem; }

.header__nav-button:hover:hover > .icon__arrow1 {
  fill: currentColor; }

.icon__arrow2 {
  height: 1.7rem;
  position: absolute;
  top: 1.28rem;
  right: 1.3rem;
  animation: moveUpDown 2s 2s infinite backwards; }

.icon__social {
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: middle;
  margin-right: 1rem; }
  .icon__social--facebook {
    fill: #3b5998;
    margin-bottom: .3rem; }
  .icon__social--instagram {
    fill: #ea065f;
    margin-bottom: .3rem; }
  .icon__social--spotify {
    fill: #1db954;
    margin-bottom: .1rem; }
  .icon__social--soundcloud {
    fill: #ff8800;
    margin-bottom: .2rem; }

.header__nav-link-sub:hover:hover > .icon__social {
  fill: currentColor;
  transition: all var(--transition-duration-social); }

.icon__map {
  height: 20rem;
  fill: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 83%;
  left: 20%;
  transform: translate(-50%, -50%); }

.icon__phone {
  height: 1.3rem;
  fill: #fff;
  position: absolute;
  top: .8rem;
  left: -3rem; }

.icon__email {
  height: 1.5rem;
  fill: #fff;
  position: absolute;
  top: .9rem;
  left: -3rem; }

.icon__whatsapp {
  height: 1.5rem;
  position: absolute;
  top: .3rem;
  left: -3rem; }

.section-hero {
  height: 100vh;
  width: 100%;
  font-weight: 600;
  color: var(--white);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/img/hero.jpg);
  background-image: linear-gradient(120deg, rgba(10, 37, 59, 0.3), #0a253b), url(/img/hero.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: -5rem;
  position: relative; }
  @media (max-width: 1200px) {
    .section-hero {
      height: 80vh;
      margin-top: 0; } }
  .section-hero__text-box {
    position: absolute;
    top: 32vh;
    left: 9.77rem; }
    @media (max-width: 1200px) {
      .section-hero__text-box {
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; } }
  .section-hero__site-title {
    font-size: 4.8rem;
    line-height: 1.4; }
  .section-hero__secondary-title {
    margin-left: .3rem; }

.main {
  height: 250vh;
  background-color: var(--white); }
