.btn-link {
    &:link,
    &:visited {
        display: inline-block;
        color: var(--white);
        background-color: rgba(0, 0, 0, .2);
        border-radius: 100px;
        text-decoration: none;
        margin-left: .2rem;
        transition: all var(--transition-duration);

        @include breakpoint-up(xlarge) {
            color: var(--black-light);
            background-color: var(--white);
        }
    }
    
    &:hover,
    &:active {
        box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .15);
        
        @include breakpoint-up(xlarge) {
            background-color: var(--white-dim);
        }
    }

    &--overview {
        &:link,
        &:visited {
            padding: 1rem 3.8rem 1rem 2.5rem;
            position: absolute;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9;
        }
    }

    &--cta {
        &:link,
        &:visited {
            font-weight: 700;
            background-color: var(--accent);
            padding: 0 1.7rem 0 1.5rem;
        }

        &:hover,
        &:active {
            background-color: var(--accent-light);
        }
    }
}