.footer {
    font-size: 1.4rem;
    color: var(--white-dim);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &__general-area {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10rem;
        margin: 3rem 11.5rem 2.5rem;

        @include respond(tab-land) {
            gap: 6rem;
        }
    }
    
    &__office {
        flex: 1;
    }
    
    &__link-box {
        flex: 1;
    }

    &__about {
        flex: 3;
        position: relative;
    }

    &__office-item-box {
        font-size: 1.2rem;
        padding: .15rem 0;
        margin-left: 3.1rem;
        position: relative;
    }

    &__phone {
        color: var(--white-dim);
        margin-bottom: -.7rem;
    }

    &__email {
        color: var(--accent);
        font-size: 1.6rem;
        padding-bottom: -1rem;
        border-bottom: 1px solid currentColor;
    }

    &__whatsapp {
        color: var(--white-dim);
    }

    &__text {
        color: var(--white-dim);
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            width: fit-content;
            color: var(--white-dim);
            text-decoration: none;
        }
        
        &:hover,
        &:active {
            text-decoration: underline;
        }
    }

    &__heading-secondary {
        color: var(--white);
    }

    &__legal-area {
        text-align: center;
        border-top: 1px solid rgba(85, 85, 85, 0.8);
        border-top: 1px solid #555;
        padding: 1rem 0 1.5rem;
    }

    &__copyright {
        color: var(--white-dim);
    }
}