.footter {
    font-size: 1.4rem;
    color: var(--white-dimmer);
    background-color: var(--white-dimmer);

    &__container {
        background-color: var(--primary);

        &--general {
            margin-bottom: 1px;
        }

        &--legal {
            text-align: center;
        }
    }

    &__general-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 4rem;
        padding-bottom: 4rem;
        
        @include breakpoint-up(medium) {
            width: 690px;
            padding-inline: .5rem;
            margin-inline: auto;
        }

        @include breakpoint-up(large) {
            width: 880px;
            gap: 6rem;
            padding-inline: 1rem;
            margin-inline: auto;
        }

        @include breakpoint-up(xlarge) {
            width: 1170px;
            gap: 10rem;
            padding-inline: 1.5rem;
            margin-inline: auto;
        }
    }

    &__legal-content {
        padding-top: 1.5rem;
        padding-bottom: 3rem;

        @include breakpoint-up(medium) {
            width: 690px;
            padding-inline: .5rem;
            margin-inline: auto;
        }

        @include breakpoint-up(large) {
            width: 880px;
            padding-inline: 1rem;
            margin-inline: auto;
        }

        @include breakpoint-up(xlarge) {
            width: 1170px;
            padding-inline: 1.5rem;
            margin-inline: auto;
        }
    }
    
    &__office {
        flex: 1;
    }
    
    &__link-box {
        flex: 1;
    }

    &__about {
        flex: 3;
        position: relative;
    }

    &__office-item-box {
        font-size: 1.2rem;
        padding: .15rem 0;
        margin-left: 3.1rem;
        position: relative;
    }

    &__phone {
        color: var(--white-dimmer);
        margin-bottom: -.7rem;
    }

    &__email {
        color: var(--accent);
        font-size: 1.6rem;
        padding-bottom: -1rem;
        border-bottom: 1px solid currentColor;
    }

    &__whatsapp {
        color: var(--white-dimmer);
    }

    &__text {
        color: var(--white-dimmer);
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            width: fit-content;
            color: var(--white-dimmer);
        }
        
        &:hover,
        &:active {
            text-decoration: none;
            color: var(--white-dim);
        }
    }

    &__heading-secondary {
        color: var(--white);
    }

    &__copyright {
        color: var(--white-dimmer);
    }
}