.header {
    width: 100%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    @include breakpoint-up(xlarge) {
        width: 100%;
        background-color: var(--white);
        box-shafdow: 0 .2rem 1rem rgba(0, 0, 0, .3);
    }

    &__container {
        width: 100%;
        padding-inline: 1.5rem;
        margin-inline: auto;
        background-color: transparent;
        background-image: linear-gradient(
            180deg, 
            transparent 6.1rem, 
            #cf8700 6.1rem, 
            #cf8700 91vh,
            #af7200 91vh,
            #af7200 100vh);

        @include breakpoint-up(medium) {
            background-image: linear-gradient(
            180deg, 
            transparent 6rem, 
            #cf8700 6rem, 
            #cf8700 90vh,
            #af7200 90vh,
            #af7200 100vh);
        }
            
        @include breakpoint-down(large) {
            height: 6rem;
            overflow-y: hidden;
            transitiohn: all .5s ease-in-out;
            border-bottom: 0px solid #ce8600;

            &::after {
                content: "";
                display: block;
                height: 1px;
                width: inherit;
                background-color: #ffa600;
                position: absolute;
                top: 5.9rem;
                left: 0;
            }
        }
        
        @include breakpoint-up(xlarge) {
            height: 5rem;
            width: 1170px;
            background-color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline: 1.5rem;
            margin-inline: auto;
        }
    }

    &__logo-area {
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-top: .5rem;
        position: relative;

        @include breakpoint-up(xlarge) {
            color: var(--white);
            background-color: var(--primary);
            padding: 2rem 2rem;
            margin-right: auto;
        }
    }

    &__logo-text {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;

        .styled {
            color: var(--accent);
            color: #e69500;
        }
    }
    
    &__logo-link {
        text-decoration: none;
        color: var(--white);
        padding: 1rem 1rem 1rem .5rem;
        margin-right: auto;
    }

    &__cta {
        @include breakpoint-up(xlarge) {
            display: none;
        }
    }

    &__nav-area {
        margin-top: 36vh;
        margin-right: .5rem;
        text-align: right;
        transform: translateY(-35%);

        @include breakpoint-up(xlarge) {
            display: block;
        }
    }

    &__nav-list {
        list-style: none;
        margin-top: 2rem;

        @include breakpoint-up(medium) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        @include breakpoint-up(xlarge) {
            display: flex;
            align-items: center;
        }
    }

    &__nav-item {
        cursor: pointer;
        margin-left: 1rem;
        

        &:last-child {
            margin-right: 0;
        }

        &--button {
            font-size: 4.9rem;
            position: relative;
            padding: .1rem 1.5rem .1rem .3rem;
            transition: all var(--transition-duration);

            @include breakpoint-up(medium) {
                font-size: 3.1rem;
                padding: .1rem 2.5rem .1rem 2rem;
            }

            @include breakpoint-down(large) {
                position: static;
            }

            &:hover {
                padding: 1.2rem 1.5rem 1.2rem .3rem;
            }
        }

        &--cta {
            display: none;

            @include breakpoint-up(xlarge) {
                display: block;
            }
        }
    }

    &__nav-link {
        &:link,
        &:visited {
            font-size: 4.8rem;
            color: var(--white);
            text-decoration: none;
            padding-inline: .5rem;
            transition: all var(--transition-duration);
            font-weight: 900;

            @include breakpoint-up(medium) {
                font-size: 3rem;
                padding-inline: 1rem;
            }

            @include breakpoint-up(xlarge) {
                color: #252525;
            }
        }

        &:hover,
        &:active {
            color: #444;
        }
    }

    &__nav-button {
        color: var(--white);
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        font-weight: 900;
        border: none;
        cursor: pointer;
        margin-inline: .2rem -1rem;

        @include breakpoint-up(xlarge) {
            color: #252525;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
        }
    }

    &__nav-item--button:hover > &__nav-button {
        color: #444;
    }

    &__nav-list-sub {
        list-style: none;
        visibility: hidden;
        display: none;

        @include breakpoint-down(small) {
            width: 90%;
            margin-left: -35%;
        }

        @include breakpoint-up(xlarge) {
            list-style: none;
            display: block;
            width: 22rem;
            background-color: var(--white);
            position: absolute;
            top: 4rem;
            right: -2.5rem;
            padding-top: .8rem;
            border-radius: 1px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
            opacity: 0;
            visibility: hidden;
            transform: translateY(-1.4rem);
            transition: all .3s, visibility .2s;
        }

        &::before {
            content: "";
            display: block;
            height: .4rem;
            width: inherit;
            background-color: transparent;
            position: absolute;
            top: -.55rem;
            left: 0;
        }
    }

    &__nav-item-sub {
        width: 100%;
        margin-top: 2rem;
        background-color: rgba(0, 0, 0, .2);

        @include breakpoint-down(small) {
            margin-lheft: -66%;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }

        &:last-child {
            margin-bottom: 1rem;
        }

        @include breakpoint-down(large) {
            transform: translateX(45%);
        }
    }

    &__nav-link-sub {
        &:link,
        &:visited {
            display: inline-block;
            width: 100%;
            color: #222;
            text-decoration: none;
            padding: .6rem 1.5rem;

            @include breakpoint-down(large) {
                color: var(--white);
            }
        }

        &:hover,
        &:active {
            color: var(--white);
            background-color: var(--primary-light);
            background-color: #122c41;

            @include breakpoint-down(large) {
                background-color: transparent;
            }
        }
    }
}

.mobile-copyright {
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;

    display: none;
}