.header {
    width: 100%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-botftom: 1px solid var(--grey);

    @include breakpoint-up(xlarge) {
        width: 100%;
        background-color: var(--white);
        box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .3);
    }

    &__container {
        background-color: transparent;
        padding-inline: 1.5rem;
        border-bottom-right-radius: 2rem;

        @include breakpoint-down(large) {
            min-height: 7rem;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        
        @include breakpoint-up(xlarge) {
            height: 5rem;
            background-color: var(--white);
            width: 1170px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline: 1.5rem;
            margin-inline: auto;
        }
    }

    &__logo-box {
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-top: 2rem;

        @include breakpoint-up(xlarge) {
            margin-right: auto;
            background-color: var(--primary);
            color: var(--white);
            padding: 2rem 2rem;
        }
    }

    &__logo-text {
        font-size: 1.8rem;
        margin-right: auto;
    }

    &__logo-link {
        text-decoration: none;
        color: var(--white);
        padding: 1rem;
    }

    &__cta {
        @include breakpoint-up(xlarge) {
            display: none;
        }
    }

    &__nav {
        display: none;

        @include breakpoint-up(xlarge) {
            display: block;

        }
    }

    &__nav-list {
        list-style: none;

        @include breakpoint-up(xlarge) {
            display: flex;
            align-items: center;
        }
    }

    &__nav-item {
        margin-inline: 2rem;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &--button {
            position: relative;
            padding: .1rem 1.5rem .1rem .3rem;
            transition: all var(--transition-duration);

            @include breakpoint-down(large) {
                position: static;
            }

            &:hover {
                padding: 1.2rem 1.5rem 1.2rem .3rem;
            }
        }

        &--cta {
            display: none;

            @include breakpoint-up(xlarge) {
                display: block;
            }
        }
    }

    &__nav-link {
        &:link,
        &:visited {
            color: var(--white);
            text-decoration: none;
            padding-inline: 5px;
            transition: all var(--transition-duration);
            font-weight: 900;

            @include breakpoint-up(xlarge) {
                color: #252525;
            }
        }

        &:hover,
        &:active {
            color: #444;
        }
    }

    &__nav-button {
        color: var(--white);
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        font-weight: 900;
        border: none;
        cursor: pointer;
        margin-inline: .2rem -1rem;

        @include breakpoint-up(xlarge) {
            color: #252525;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
        }
    }

    &__nav-item--button:hover > &__nav-button {
        color: #444;
    }

    &__nav-list-sub {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        text-align: left;
        background-color: rgba(0, 0, 0, .1);

        @include breakpoint-up(xlarge) {
            list-style: none;
            display: block;
            width: 22rem;
            background-color: var(--white);
            position: absolute;
            top: 4rem;
            right: -2.5rem;
            padding-top: .8rem;
            border-radius: 1px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
            opacity: 0;
            visibility: hidden;
            transform: translateY(-1.4rem);
            transition: all .3s, visibility .2s;
        }

        &::before {
            content: "";
            display: block;
            height: .4rem;
            width: inherit;
            background-color: transparent;
            position: absolute;
            top: -.55rem;
            left: 0;
        }
    }

    &__nav-item-sub {
        &:not(:last-child) {
            border-bottom: 1px solid #eee;

            @include breakpoint-down(large) {
                border-bottom: none;
            }
        }

        &:last-child {
            margin-bottom: 1rem;
        }

        @include breakpoint-down(large) {
            transform: translateX(45%);
        }
    }

    &__nav-link-sub {
        &:link,
        &:visited {
            display: inline-block;
            width: 100%;
            color: #222;
            text-decoration: none;
            padding: .6rem 1.5rem;

            @include breakpoint-down(large) {
                color: var(--white);
            }
        }

        &:hover,
        &:active {
            color: var(--white);
            background-color: var(--primary-light);
            background-color: #122c41;

            @include breakpoint-down(large) {
                background-color: transparent;
            }
        }
    }
}