.header {
    width: 100%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    @include breakpoint-up(xlarge) {
        width: 100%;
        background-color: var(--white);
        //box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .25);
    }

    &__container {
        height: 6rem;
        width: 100%;
        background-color: transparent;
        background-image: linear-gradient(
            180deg, 
            var(--primary) 0%, 
            var(--primary) 6rem,
            rgba(0, 0, 0, .15) 6rem, 
            rgba(0, 0, 0, .15) 91vh,
            #eee 91vh,
            #eee 100vh
        );
        padding-inline: 1.5rem;
        margin-inline: auto;
        //transition: all .5s ease-in-out;

        &::after {
            content: "";
            display: block;
            height: 1px;
            width: inherit;
            background-color: #ccc;
            position: absolute;
            top: 5.9rem;
            left: 0;
        }

        @include breakpoint-up(medium) {
            background-image: linear-gradient(
            180deg, 
            transparent 6rem, 
            #efefef 6rem, 
            #efefef 90vh,
            #ddd 90vh,
            #ddd 100vh);
        }
        
        @include breakpoint-up(xlarge) {
            height: 5rem;
            width: 1170px;
            background-color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline: 1.5rem;
            margin-inline: auto;
        }
    }

    &__logo-area {
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-top: .5rem;
        position: relative;

        @include breakpoint-up(xlarge) {
            color: var(--white);
            background-color: var(--primary);
            padding: 2rem 2rem;
            margin-right: auto;
        }
    }

    &__logo-text {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;

        .styled {
            color: #e69500;
        }
    }
    
    &__logo-link {
        text-decoration: none;
        color: var(--white);
        padding: 1rem 1rem 1rem .5rem;
        margin-right: auto;
    }

    &__nav-area {
        visibility: hidden;
        opacity: 0;
        display: flex;
        justify-content: center;
        gap: 5rem;
        margin-top: 28vh;
        transform: translateY(-35%);

        @include breakpoint-up(xlarge) {
            display: block;
        }
    }

    &__nav-list {
        list-style: none;

        &:nth-child(1) {
            margin-right: auto;
            margin-top: 8rem;
        }

        &:nth-child(2) {
            padding-inline: .5rem;
            margin-top: -5.15rem;
        }

        @include breakpoint-up(medium) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        @include breakpoint-up(xlarge) {
            display: flex;
            align-items: center;
        }
    }

    &__nav-item {
    }

    &__nav-link {
        &:link,
        &:visited {
            font-size: 3rem; //4.8rem
            color: #ddd;
            text-decoration: none;
            font-weight: 600;
            padding-inline: .5rem;
            transition: all var(--transition-duration);

            @include breakpoint-up(medium) {
                font-size: 3rem;
                padding-inline: 1rem;
            }
        }

        &:hover,
        &:active {
            color: #333;
        }
    }

    &__nav-button {
        display: none;

        @include breakpoint-up(xlarge) {
            display: block;
            color: #252525;
            background-color: transparent;
            font-family: inherit;
            font-size: inherit;
            font-weight: 600;
            border: none;
            margin-inline: .2rem -1rem;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
            }
            /*
            &__nav-item--button:hover > &__nav-button {
                color: #444;
            }
            */
        }
    }

    &__nav-label {
        color: #ddd;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }



    &__nav-list-sub {
        height: 28rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 2rem;

        &::-webkit-scrollbar {
            width: 10px;
        }

        @include breakpoint-up(xlarge) {
            list-style: none;
            display: block;
            width: 22rem;
            background-color: var(--white);
            position: absolute;
            top: 4rem;
            right: -2.5rem;
            padding-top: .8rem;
            border-radius: 1px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
            opacity: 0;
            visibility: hidden;
            transform: translateY(-1.4rem);
            transition: all .3s, visibility .2s;
        }

        &::befofffre {
            content: "";
            display: block;
            height: .4rem;
            width: inherit;
            background-color: transparent;
            position: absolute;
            top: -.55rem;
            left: 0;
        }
    }

    &__nav-item-sub {
        height: 12.2rem;
        width: 12.2rem;
        background-color: #efefef;
        padding: 1rem;
        border-radius: 20px;
    }

    &__nav-link-sub {
        &:link,
        &:visited {
        }

        &:hover,
        &:active {
        }
    }

    &__nav-service-label {
        display: none;
    }
}

.mobile-copgyright {
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;

    display: none;
}