svg[class*="icon"] {
    transition: all var(--transition-duration);
}

.icon {
    &__hamburger {
        height: 3rem;
        width: 3rem;
        fill: #fff;
        margin-right: .5rem;

        @include breakpoint-up(xlarge) {
            display: none;
        }
    }

    &__home {
        display: none;

        @include breakpoint-up(xlarge) {
            display: inline;
            height: 1.5rem;
            width: 1.5rem;
            fill: currentColor;
            margin-top: .6rem;
    
            &:hover {
                fill: var(--white-light);
            }
        }
    }

    &__arrow1 {
        display: none;
        height: 1rem;
        width: 1rem;
        fill: currentColor;
        vertical-align: baseline;
        margin-left: .3rem;
    }

    .header__nav-button:hover:hover > &__arrow1 {
        fill: currentColor;
    }

    &__arrow2 {
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        top: 1rem;
        right: 24%;
        animation: moveUpDown 2s 2s infinite backwards;

        @include breakpoint-up(medium) {
            display: block;
        }

        @include breakpoint-up(xlarge) {
            height: 1.7rem;
            top: 1.35rem;
            right: 1.3rem;
        }
    }

    &__social {
        display: block;
        height: 5.5rem;
        width: 5.5rem;
        margin-inline: auto;

        &:hover {
            fill: #999;
        }

        @include breakpoint-up(xlarge) {
            height: 1.3rem;
            width: 1.3rem;
            vertical-align: middle;
            margin-right: 1rem;
        }

        &--facebook {
            fill: #3b5998;

            @include breakpoint-up(xlarge) {
                margin-bottom: .3rem;
            }
        }

        &--instagram {
            fill: #ea065f;

            @include breakpoint-up(xlarge) {
                margin-bottom: .3rem;
            }
        }

        &--spotify {
            fill: #1db954;

            @include breakpoint-up(xlarge) {
                margin-bottom: .1rem;
            }
        }

        &--soundcloud {
            fill: #ff8800;

            @include breakpoint-up(xlarge) {
                margin-bottom: .2rem;
            }
        }
    }
    /*
    .header__nav-link-sub:hover:hover > &__social {
        fill: currentColor;
        transition: all var(--transition-duration-social);
    }
    */

    &__map {
        height: 20rem;
        fill: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 83%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    &__phone {
        height: 1.3rem;
        fill: #fff;
        position: absolute;
        top: .6rem;
        left: -3rem;
    }

    &__email {
        height: 1.5rem;
        fill: #fff;
        position: absolute;
        top: 1.2rem;
        left: -3rem;
    }

    &__whatsapp {
        height: 1.5rem;
        position: absolute;
        top: .2rem;
        left: -3rem;
    }

    &__arrow-box {
        height: 4rem;
        width: 5rem;
        background-color: rgba(0,0,0,.15);
        margin-inline: auto;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}





@keyframes upDownImg {
    50% {
        transform: translateY(.4rem);
    }
}