:root {
    --primary: #122c41;
    --primary-light: #122c41fa;

    --accent: #1fc1c3;
    --accent-light: #62d4d5;

    --white: #fff;
    --white-dim: #eee;
    --white-dimmer: #ccc;

    --black: #222;
    --black-light: #333;

    --grey: #777;
    --grey-light: #aaa;
    --grey-lighter: #bbb;
    --grey-dim: #555;

    --grey-border: #c5c5c5;

    --transition-duration: .2s;
    --transition-duration-social: .25s;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    color: #222;
    background-color: var(--accent);
}

html {
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}