:root {
    --default-font-size: 1.6rem;

    --primary: #0a253b;
    --primary-light: #0a253bfa;

    --accent: #1fc1c3;
    --accent-light: #62d4d5;

    --white: #eee; //#ddd
    --white-light: #eee;
    --white-lighter: #fff;
    --white-dim: #ccc;

    --black: #222;
    --black-light: #333;

    --grey: #777;
    --grey-light: #aaa;
    --grey-lighter: #bbb;
    --grey-dim: #555;

    --grey-border: #c5c5c5;

    --transition-duration: .2s;
    --transition-duration-social: .25s;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;

    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px; 9px/16px = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px; 8px/16px = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px; 12px/16px = 75%
    }
}

body {
    max-width: 180rem;
    margin: 0 auto;
}