.u-margin-bottom-smaller {margin-bottom: 1rem}
.u-margin-bottom-small {margin-bottom: 2rem}
.u-margin-bottom-medium {margin-bottom: 4rem}
.u-margin-bottom-big {margin-bottom: 5rem}

.u-line-break {
    display: block;

    @include breakpoint-down(large) {
        display: inline;
    }
}

.u-line-break-tab-land {
    @include breakpoint-down(large) {
        display: block;
    }
}


.u-link {
    &__white {
        &:link,
        &:visited {
            color: var(--white);
        }

        &:hover,
        &:active {
            color: var(--white-dim);
            text-decoration: none;
        }
    }

    &__black {
        &:link,
        &:visited {
            color: var(--black-dim);
        }

        &:hover,
        &:active {
            color: var(--black-light);
            text-decoration: none;
        }
    }
}