.section-hero {
    width: 100%;
    font-weight: 600;
    color: var(--white);
    background-image: linear-gradient(
        120deg,
        rgba(18, 44, 65, 1),
        rgba(18, 44, 65, 1)
        );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    @include breakpoint-down(small) {
        height: 80vh;
    }

    @include breakpoint-up(medium) {
        height: 100vh;
    }

    @include breakpoint-up(xlarge) {
        height: 95vh;
    }

    &__text-box {
        position: absolute;
        top: 24%;
        text-align: center;

        @include breakpoint-down(small) {
            margin-inline: 2rem;
        }

        @include breakpoint-up(medium) {
            left: 50%;
            transform: translateX(-50%);
        }
        
        @include breakpoint-up(xlarge) {
            top: 28vh;
            left: 9.77rem;
            text-align: left;
            transform: none;
        }
    }

    &__site-title {
        font-size: 3rem;

        .styled {
            color: var(--accent);
            color: #e69500;
        }

        @include breakpoint-up(medium) {
            font-size: 4.8rem;
            line-height: 1.4;
        }
    }

    &__secondary-title {
        margin-left: .3rem;
    }
}

.main {
    height: 250vh;
    background-color: var(--white);
}